figcaption {
    text-align: center;
}

.flex-item {
    background-color: #fafafa;
    margin: 10px;
    transition: all .2s ease-in-out;
    &:hover {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        transform: translate(0, -4px);
    }
}